:host {
  display: block;
  width: 100%;
}

:host ::ng-deep .custom-autocomplete {
  width: 100% !important;
  height: 100% !important;
  background: #FFFFFF !important;
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
  box-sizing: border-box;
  position: relative;
}

:host ::ng-deep .custom-autocomplete input.p-inputtext {
  height: 100% !important;
  width: 100% !important;
  padding-left: 32px !important; 
  padding-right: 8px;
  border-radius: 15px !important;
  box-sizing: border-box;
}

:host ::ng-deep .custom-autocomplete-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888888;
  pointer-events: none;
}

.autocomplete-wrapper {
  position: relative;
  width: 100%; 
  height: 32px;
}

.custom-autocomplete ::ng-deep input.p-inputtext {
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 8px;
}

.search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888888;
  pointer-events: none;
}
