 <div class="app-header-rect  ">
  <!-- logo UTEC a la izquierda -->
  <img
    src="assets/images/logos/LOGO_HEADER.svg"
    alt="UTEC Isologo"
    class="header-logo"
    width="305"
    height="218"
    loading="eager"
    decoding="async"
  />

  <!-- lado derecho: muestra botones si isHome() es true, sino texto + ícono -->
  @if (isHome()) {
    <div class="header-right">
      <app-button
          (click)="goToOptionMenu()"
          label="Portal personal académico"
          [color]="'white'"
          textColor="black"
          fontFamily="'UTEC Text Light', Arial, sans-serif"
          fontWeight="500"
          fontSize="0.8rem"
        ></app-button>

      <app-button
          (click)="goToStudentPortal()"
          label="Portal estudiante"
          [color]="'blue'"
          fontFamily="'UTEC Text Light', Arial, sans-serif"
          fontWeight="800"
          fontSize="0.8rem"
        ></app-button>
    </div>
  } @else {
    <div class="header-right">
      @if (authService.isAuthenticated()) {
        <span class="user-name">{{ authService.currentUser()?.fullName }}</span>
        <button (click)="logout()" class="logout-button" title="Cerrar sesión">
          <i class="pi pi-sign-out"></i>
        </button>
      } @else {
        <span (click)="goToHome()" class="portal-text">Ir al portal académico</span>
      }
    </div>
  }
</div>
