<div class="rectangle-9 flex gap-5" (click)="handleCardClick()">
  @if (isLoading()) {
    <!-- Skeletons -->
    <!-- Columna izquierda -->
    <div class="flex flex-col gap-3 w-8/10">
      <div class="flex gap-4">
        <p-skeleton width="20%" height="24px"></p-skeleton>
        @if (assignState() == false) {
          <p-skeleton width="15%" height="20px"></p-skeleton>
        }
      </div>
      @if (assignState() == false) {
        <p-skeleton width="15%" height="18px"></p-skeleton>
      }
    </div>

    <!-- Columna derecha -->
    <div class="flex w-2/10 justify-center items-center">
      @if (assignState() == false) {
        @if (shouldShowPdfIcon()) {
          <p-skeleton width="24px" height="24px" shape="circle"></p-skeleton>
        }
      } @else {
        <p-skeleton width="20px" height="20px"></p-skeleton>
      }
    </div>
  } @else {
    <!-- Contenido cuando no está cargando -->
    <!-- Columna izquierda -->
    <div class="flex flex-col gap-2 w-8/10">
      <span class="card-title font-bold">
        {{ curricularUnitName() }}
      </span>
      @if (assignState() == false && hasTeachers()) {
        <span class="card-professor-name text-gray-600">
          Docente: {{ teacherName() }}
        </span>
      }
      @if (assignState() == false) {
        <span class="card-last-update-date text-gray-500">
          Última actualización: {{ formattedDate() }}
        </span>
      }
    </div>

    <!-- Columna derecha -->
    <div class="flex w-2/10 justify-center items-center">
      @if (assignState() == false) {
        @if (shouldShowPdfIcon()) {
          <i class="pi pi-file-pdf text-00A9E0-600 pdf-icon" aria-label="PDF"></i>
        }
      } @else {
        <p-checkbox [(ngModel)]="checked" [binary]="true" />
      }
    </div>
  }
</div>