@if (label()) {
  <p-iftalabel>  
    <p-select 
      [options]="items()" 
      [ngModel]="selectedItem()"
      (ngModelChange)="onItemChange($event)"
      optionLabel="name" 
      [placeholder]="placeholder()" 
      appendTo="body"
      [disabled]="disabled() || readonly()"
      emptyMessage="No se encontraron resultados"
      [class]="'w-full md:w-56' + (readonly() ? ' readonly-select' : '')"
    />
    <label for="dd-city">{{ label() }}</label>
  </p-iftalabel>
} @else {
  <p-select 
    [options]="items()" 
    [ngModel]="selectedItem()"
    (ngModelChange)="onItemChange($event)"
    optionLabel="name" 
    [placeholder]="placeholder()" 
    appendTo="body"
    [disabled]="disabled() || readonly()"
    emptyMessage="No se encontraron resultados"
    [class]="'w-full md:w-56' + (readonly() ? ' readonly-select' : '')"
  />
}
