<div class="w-full flex-none h-full">

          <app-card-container [maxHeight]="'350px'" [hasCards]="true">
            <app-activity-card [color]="'#FED7AA'" [titulo]="'El movimiento y sus leyes'" [descripcion]="'Introducción al estudio del movimiento, las magnitudes físicas involucradas y las leyes que lo rigen. Se busca que el estudiante relacione la teoría con observaciones cotidianas y experimentales.'" ></app-activity-card>
            <app-activity-card [color]="'#A7F3D0'"></app-activity-card>
            <app-activity-card [color]="'#BFDBFE'"></app-activity-card>
          </app-card-container>

          <div class="mt-4">
            <div class="w-48 mx-auto">
              <app-button
                label="Agregar contenido"
                [color]="'blue'"
                fontFamily="'UTEC Text Light', Arial, sans-serif"
                fontWeight="300"
                fontSize="1rem"
                style="width:100%;"
              ></app-button>
            </div>
          </div>

</div>