<div class="w-full flex-none h-full">

  <app-card-container [maxHeight]="'350px'" [hasCards]="contents().length > 0">
    @for (content of contents(); track content.id) {
      <app-content-card 
        [color]="content.color" 
        [titulo]="content.title" 
        [descripcion]="content.content"
        [isSelected]="selectedContentId() === content.id"
        (click)="selectContent(content)"
      ></app-content-card>
    }
  </app-card-container>

  <div class="mt-4">
    <div class="w-48 mx-auto">
      <app-button
        label="Agregar contenido"
        [color]="'blue'"
        fontFamily="'UTEC Text Light', Arial, sans-serif"
        fontWeight="300"
        fontSize="1rem"
        style="width:100%;"
      ></app-button>
    </div>
  </div>

</div>