 
.select-col {
  align-self: flex-start;
  min-height: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

 
$border-color: #646060;
$border-width: 1px;
$text-color: #1a1a1a;
$border-radius: 15px;
 
:host ::ng-deep .p-inputtext {
  border: $border-width solid $border-color !important;
  color: $text-color !important;
  border-radius: $border-radius !important;
}

:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: $border-color !important;
  color: $text-color !important;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  border-color: $border-color !important;
  color: $text-color !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 55, 55, 0.25) !important;
}

:host ::ng-deep .p-datepicker-input {
  border: $border-width solid $border-color !important;
  color: $text-color !important;
}

:host ::ng-deep .p-datepicker-input:enabled:hover {
  border-color: $border-color !important;
  color: $text-color !important;
}

:host ::ng-deep .p-datepicker-input:enabled:focus {
  border-color: $border-color !important;
  color: $text-color !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 55, 55, 0.25) !important;
}

:host ::ng-deep p-datepicker {
  display: block !important;
  width: 100% !important;
}

:host ::ng-deep p-datepicker .p-datepicker-input-icon-container {
  width: 100% !important;
}

:host ::ng-deep p-datepicker .p-datepicker-input {
  width: 100% !important;
}

 
:host ::ng-deep .p-floatlabel label {
  color: rgba(26, 26, 26, 0.6) !important;
}

:host ::ng-deep .p-floatlabel:has(.p-inputtext:focus) label {
  color: $text-color !important;
}

 
:host ::ng-deep app-select .p-select,
:host ::ng-deep app-select .p-dropdown,
:host ::ng-deep .p-select,
:host ::ng-deep .p-dropdown {
  border: $border-width solid $border-color !important;

}

:host ::ng-deep app-select .p-select:hover,
:host ::ng-deep app-select .p-dropdown:hover,
:host ::ng-deep .p-select:hover,
:host ::ng-deep .p-dropdown:hover {
  border-color: $border-color !important;
}

:host ::ng-deep app-select .p-select.p-focus,
:host ::ng-deep app-select .p-dropdown.p-focus,
:host ::ng-deep .p-select.p-focus,
:host ::ng-deep .p-dropdown.p-focus {
  border-color: $border-color !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 55, 55, 0.25) !important;
}

 
:host ::ng-deep app-select .p-select .p-select-label,
:host ::ng-deep app-select .p-dropdown .p-dropdown-label,
:host ::ng-deep .p-select .p-select-label,
:host ::ng-deep .p-dropdown .p-dropdown-label {
  color: $text-color !important;
}

 
:host ::ng-deep app-select .p-select .p-select-label.p-placeholder,
:host ::ng-deep app-select .p-dropdown .p-dropdown-label.p-placeholder,
:host ::ng-deep .p-select .p-select-label.p-placeholder,
:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: rgba(26, 26, 26, 0.5) !important;
}

 
:host ::ng-deep .grid {
  align-items: start;
  grid-auto-rows: auto;
}

 
:host ::ng-deep .select-col app-select {
  display: block !important;
  height: auto !important;
  min-height: 0 !important;
  align-self: flex-start !important;
}

 
:host ::ng-deep .select-col app-select .p-dropdown,
:host ::ng-deep .select-col app-select .p-inputtext,
:host ::ng-deep .select-col app-select .p-dropdown .p-dropdown-label {
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
  line-height: 36px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
}

 
 
:host ::ng-deep .select-col > * {
  height: auto !important;
  min-height: 0 !important;
}

:host ::ng-deep app-select .p-select .p-select-label,
:host ::ng-deep app-select .p-select .p-iftalabel label,
:host ::ng-deep .p-select .p-select-label,
:host ::ng-deep .p-iftalabel label {
  font-size: 1rem !important;
  font-family: inherit !important;
}

:host ::ng-deep .p-select-overlay .p-select-option,
:host ::ng-deep .p-select-panel .p-select-option,
:host ::ng-deep .p-select-option-label {
  font-size: 1rem !important;
  font-family: inherit !important;
}

:host ::ng-deep app-select .p-select .p-select-label.p-placeholder,
:host ::ng-deep .p-select .p-select-label.p-placeholder {
  font-size: 1rem !important;
}
