.weekly-title {
  font-weight: 900; 
  font-size: 1.5rem; 
  line-height: 1.1;
  margin: 0;
}

.weekly-range {
  font-weight: 600;
  font-size: 0.95rem; 
  color: #6b7280; 
  margin: 0;
}

.separator {
  border-bottom: 1px solid #6b7280; 
  width: 90%; 
  margin: 0.5rem auto 0; 
}