<div #chatContainer class="chat-body-container">
  @if (messages().length === 0) {
    <div class="empty-state">
      <i class="pi pi-comments empty-state-icon"></i>
      <p class="empty-state-title">¡Bienvenido al asistente pedagógico EDU BOT!</p>
      <p class="empty-state-text">Realiza preguntas sobre planificación docente o selecciona un curso para obtener sugerencias.</p>
    </div>
  } @else {
    @for (message of messages(); track $index) {
      <app-sent-message
        [bot]="message.isBot"
        [text]="message.text"
        [inProgress]="message.inProgress ?? false"
        [class]="message.isBot ? 'self-start message-max-width' : 'self-end message-max-width'"
      ></app-sent-message>
    }
  }
</div>
