<app-color-block [color]="'black'">
  <div class="grid grid-cols-1 lg:grid-cols-2 w-full items-center justify-center lg:justify-start">
    <div class="flex flex-col">
      <div class="edu-bot-title mt-4 mx-6 md:mx-12 text-center lg:text-left">
        EDU BOT
      </div>
      <div class="edu-bot-subtitle mx-6 md:mx-12 mb-4 text-center lg:text-left">
        Tu asistente educativo de confianza.
      </div>
    </div>
    <div class="text-white font-semibold text-lg mt-6 md:mt-9 mr-4 md:mr-12">
      <div class="flex flex-col md:flex-row gap-4 md:gap-6 justify-center md:justify-start ml-4 md:ml-0 items-center controls-wrapper">
        <app-button
          class="mb-4 md:mb-0"
          [label]="isGenerating() ? 'Generando...' : 'Generar reporte'"
          [color]="'blue'"
          fontFamily="'UTEC Text Light', Arial, sans-serif"
          fontWeight="300"
          fontSize="1.5rem"
          width="280px"
          [disabled]="isGenerating()"
          (onClick)="generateReport()"
        ></app-button>
        <div class="w-56 flex items-center gap-2 text-white whitespace-nowrap justify-center md:justify-start report-status">
          @if (isGenerating()) {
            <i class="pi pi-spin pi-spinner text-xl"></i>
            <span>Generando reporte...</span>
          } @else {
            <span></span>
          }
        </div>
      </div>
    </div>
  </div>
</app-color-block>
