<div class="activity-bullet flex flex-row items-start gap-3">
  <!-- Columna izquierda -->
  <div class="flex flex-col items-center self-stretch">
    <div class="dot"></div>
    <div class="line"></div>
  </div>

  <!-- Columna derecha-->
  <div class="content">
    <div class="content-header">
      <span class="title">{{ title() }}</span>
      <div class="action-icons">
        <i class="pi pi-pencil" title="Editar" role="button" aria-label="Editar actividad"></i>
        <i class="pi pi-trash" title="Eliminar" role="button" aria-label="Eliminar actividad"></i>
      </div>
    </div>
    <span class="subtitle">{{ content() }}</span>
  </div>
</div>
