<div class="flex flex-row w-full mt-6 px-12">
  <div class="flex flex-row w-full items-center gap-2">
    <div class="w-5/6">
      <textarea
        pInputTextarea
        class="chat-input-textarea w-full"
        rows="2"
        aria-label="Escribe tu mensaje"
      ></textarea>
    </div>
    <div class="w-1/6 flex items-center justify-end gap-2">
      <i class="pi pi-microphone chat-input-icon" aria-label="Grabar audio"></i>
      <i class="pi pi-send chat-input-icon" aria-label="Enviar mensaje"></i>
    </div>
  </div>
</div>
