@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .p-datatable-mask {
    @apply backdrop-blur-sm! bg-surface-0/20! dark:bg-surface-900/20!;
  }

  .p-datatable-loading-icon {
    @apply text-primary!;
  }
}
