<p-dialog 
  [visible]="visible()" 
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '32rem' }"
  header="Reutilizar planificación"
>
  <div class="flex flex-col gap-4">
    <app-select
      [options]="courses()"
      [placeholder]="'Seleccionar curso'"
      [label]="'Curso'"
      [selectedValue]="selectedCourse()"
      (onSelectionChange)="handleCourseChange($event)"
    />
  </div>

  <ng-template #footer>
    <p-button 
      label="Cancelar" 
      severity="secondary" 
      (onClick)="closeModal()"
    />
    <p-button 
      label="Confirmar" 
      (onClick)="confirmSelection()"
      [disabled]="!selectedCourse()"
    />
  </ng-template>
</p-dialog>
